*{
    margin: 0;
    padding: 0;
}
#banner_text{
    height: inherit;
    display: flex;
    padding: 5% 0 0 5%;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: rgba(14, 14, 14, 0.8); 
    color: rgb(216, 231, 231);
}